body{
    background-color: burlywood;
}
h1{
    color: rgb(15, 180, 15);
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}
p{
    color: darkred;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
.resaltado{
    color: gold;
    background-color: brown;
    font-style: italic;
}
#cabecera{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: darkorange;
    background-color:deeppink;
}
#recuadro1{

    box-shadow: 30px 10px 20px #aaa; 
  
    border-radius: 20px;  
  
    background-color:#ddd;
  
    width:200px;
  
    padding:10px;
  
  }
  
  #recuadro2{
  
    box-shadow: -10px -10px 20px #aaa; 
  
    border-radius: 20px;  
  
    background-color:#aa0;
  
    width:200px;
  
    padding:10px;
  
    margin-top:50px;
  
  }
  #recuadro3{

    border-radius: 20px;  
  
    background-color:#ddd;
  
    width:200px;
  
    padding:10px;
  
  }
  
  #recuadro4{
  
    border-radius: 20px 40px 40px 20px;  
  
    background-color:#aa0;
  
    width:200px;
  
    padding:10px;
  
    margin-top:50px;
  
  }
  #recuadro5{

    -ms-transform: rotate(45deg);
  
    -webkit-transform: rotate(45deg);
  
    -moz-transform: rotate(45deg);
  
    -o-transform: rotate(45deg);
  
    transform: rotate(45deg);
  
    border-radius: 20px;  
  
    background-color:#ddd;
  
    width:200px;
  
    padding:10px;
  
  }
  
  #recuadro6{
  
    -ms-transform: rotate(-45deg);
  
    -webkit-transform: rotate(-45deg);
  
    -moz-transform: rotate(-45deg);
  
    -o-transform: rotate(-45deg);
  
    transform: rotate(-45deg);
  
    border-radius: 20px;  
  
    background-color:#ddd;
  
    width:200px;
  
    padding:10px;
  
  }